/* CSS Document */

body{margin:0 auto;
     font-size:14px;
	 color:#333333;
	 line-height:24px;
	 }
.wrapper{
	width:920px;
	margin:0 auto;
}
.header{
	height:244px;
	background-image:url(../images/banner_01.jpg);
	background-repeat:no-repeat;
	background-position:bottom;
	border-bottom:1px solid #FF9900;
	overflow:hidden
}
.promo {
	height:32px;
	margin-top:135px;
}

.nav {
	margin-top:13px;
}

.nav li{ width:125px;
         height:54px;
		 padding-top:10px;
		 margin-left:5px;
		 list-style:none;
		 font-size:14px;
		 color:#FFFFFF;
		 line-height:18px;
		 font-weight:bold;
		 text-align:center;
		 float:left;
		 display:block
		 }
.nav li a{width:125px;
          height:44px;
		  padding-top:10px;
		  background-image:url(../images/nav_08.jpg);
		  background-position:bottom;
		  background-repeat:no-repeat;
		  font-size:14px;
		  line-height:18px;
		  color:#000000;
		  text-align:center;
		  text-decoration:none;
		  display:block
		  }
.nav li a:hover{background-image:url(../images/nav_05.jpg);
                text-decoration:none;
				color:#FFFFFF;
				}		  		 			 		   		 		 			 	 	  
.nav li a.active{background-image:url(../images/nav_05.jpg);
                 color:#FFFFFF
				 }	  
.main{
	margin:0;
	padding:0 15px 0 15px;
}
.main h2{
	margin:0;
	padding-top:15px;
	font-weight:bold;
	color:#FF6600;
	font-size:14px;
}
.main li{
	list-style:none;
	background-image:url(../images/li_04.jpg);
	background-position:0 8px;
	background-repeat:no-repeat;
	padding-left:15px;
}
.left_side{
	clear:none;
	}
.right_side{
	float:right;
	padding-top:15px; 
	padding-right:25px; 
	padding-left:15px; 
	}
.guestbook{
	margin:0 0 15px 0;
	border:2px solid #e9f0a9;
}


.work_flow{
	padding-top:10px;
	clear:both;
}
.links{
	padding-top:10px;
}
.links a{
	float:left;
}
.footer{
	height:50px;
	padding-top:10px;
	background:#eeeeee;
	text-align:center;
	clear:both;
}

.font_12{font-size:12px;
         line-height:22px;
		 color:#333333;
		 text-align:left
		 }
.font_12 li{ height:22px;
			list-style:none;
			background-image:url(../images/1_08.jpg);
			background-repeat:no-repeat;
			background-position:left;
			margin-left:50px;
			padding-left:20px;
			}
.gray_border{background-color:#eee;
             border-left:1px solid #c6c6c6;
			 border-right:1px solid #c6c6c6;
			 }
li{list-style:inside}
.font_gray{color:#999999}
#book{width:279px;
      height:338px;
	  background-image:url(../images/bg_14.jpg);
	  visibility:visible
	  }
.input1{ width:150px;
         height:20px;
		 background-color:#FFFFFF;
		 border: 1px solid #d6d6d6;
		 }
.input2{ width:150px;
         height:120px;
		 background-color:#FFFFFF;
		 border: 1px solid #d6d6d6;
		 }	
.input3{ width:60px;
         height:20px;
		 background-color:#FFFFFF;
		 border: 1px solid #d6d6d6;
		 }
.copy{font-size:12px;
      line-height:22px;
	  color:#999999;
	  text-align:center;
	  background:#eeeeee;
	  }
.input4{ width:200px;
         height:22px;
		 background-color:#f0f0f0;
		 border: 1px solid #d6d6d6;
		 }
.input5{ width:200px;
         height:180px;
		 background-color:#f0f0f0;
		 border: 1px solid #d6d6d6;
		 }	
.input6{ width:60px;
         height:22px;
		 background-color:#f0f0f0;
		 border: 1px solid #d6d6d6;
		 }	
.font_orange{font-weight:bold;
             color:#FF6600;
			 }		
.font_12_red{font-size:12px;
         color:red;
		 line-height:24px;
		 }		
.font_121 {font-size:12px;
         color:#333333;
		 line-height:24px;
}
.input {background-color:#EAEAEA;
       border:1px solid #9E9E9E;
	   font-size:12px;
	   color:#000000;
	   line-height:24px;
	   height:18px;
	   width:150px;
}
.input21 {background-color:#EAEAEA;
       border:1px solid #9E9E9E;
	   font-size:12px;
	   color:#000000;
	   line-height:24px;
	   height:60px;
	   width:200px;
}
.input31 {background-color:#EAEAEA;
       border:1px solid #9E9E9E;
	   font-size:12px;
	   color:#000000;
	   line-height:24px;
	   height:18px;
	   width:60px;
}
.input211 {background-color:#EAEAEA;
       border:1px solid #9E9E9E;
	   font-size:12px;
	   color:#000000;
	   line-height:24px;
	   height:60px;
	   width:180px;
}
a{color:#666666;
  text-decoration:none
  }
a:hover{ color:#FF6600;
        text-decoration:underline} 
.center{
	text-align:center;
}
.description{
	margin:0;
	padding:15px 15px 0 15px;
}
.description h3{
	margin:0;
	font-weight:bold;
	font-size:14px;
}
.description ul{
	padding-left:20px;
}
.description li{
	list-style:decimal outside;
}