RewriteEngine off
RewriteCond $1 !^(index\.php|images|phpmyadminaaa|js|robots\.txt|google0d20fc202c98bc57\.html|sitemap\.html|sitemap\.xml|test\.php|test1\.php|test2\.php)
RewriteRule ^(.*)$ index.php/$1 [L]
