body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.title{margin-left:90px;
       font-size:14px;
	   color:#000;
	   font-weight:bold;
	   line-height:24px;
	   }
.img_border{border:2px solid #E6E6E6; 
            margin:10px auto}
.input{background-color:#EAEAEA;
       border:1px solid #9E9E9E;
	   font-size:12px;
	   color:#000000;
	   line-height:24px;
	   height:18px;
	   width:150px;
	   }
.input2{background-color:#EAEAEA;
       border:1px solid #9E9E9E;
	   font-size:12px;
	   color:#000000;
	   line-height:24px;
	   height:60px;
	   width:200px;
	   }
.input3{background-color:#EAEAEA;
       border:1px solid #9E9E9E;
	   font-size:12px;
	   color:#000000;
	   line-height:24px;
	   height:18px;
	   width:60px;
	   }	   	   
.font_12{font-size:12px;
         color:#333333;
		 line-height:24px;
		 }
.font_12_red{font-size:12px;
         color:red;
		 line-height:24px;
		 }
.font_12_2{font-size:12px;
         color:#666;
		 line-height:24px;
		 }
.font_12_2 a{font-size:12px;
         color:#666;
		 line-height:24px;
		 }
.font_12_2 a:hover{font-size:12px;
         color:#FF6600;
		 line-height:24px;
		 }		 		 		 
.font_14{font-size:14px;
         color:#333333;
		 line-height:24px;
		 }
a{color:#333333;
  text-decoration:none
  }
a:hover{color:#FF6600;
         text-decoration:underline
		 }
.zhedie{font-family:Arial, Helvetica, sans-serif;
        font-size:28px;
		line-height:28px;
		color:#FF6600
		}	